# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [1]:
from libs.exchange import Rate

In [2]:
Rate().usd()

68.6183

In [3]:
Rate('full').AZN()

{'ID': 'R01020A',
 'NumCode': '944',
 'CharCode': 'AZN',
 'Nominal': 1,
 'Name': 'Азербайджанский манат',
 'Value': 40.447,
 'Previous': 40.4801}

### Задача
Дана строка со значениями, которые разделены запятыми:

In [3]:
line = '2019-07-01,organic,4293'

Напишите функцию column_count, которая возвращает число столбцов в такой строке

In [5]:
def column_count(line, count_empty_line=True, separator=','):
    if count_empty_line:
        return len(line.split(separator))
    else:
        if line == '':
            return 0
        else: len(line.split(separator))

In [6]:
column_count('2019-07-01,organic,4293')

3

In [8]:
column_count('2019-07-01')

1

In [10]:
column_count('', count_empty_line=True)

1

# Классы
Пример использования переменной в разных методах

In [13]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [14]:
a = AnyName()

In [15]:
a.method_1()

In [16]:
a.currency

'usd'

In [17]:
a.method_2()

usd

### Метод __init__

In [18]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [19]:
r = Rate()

value

In [20]:
r.format

'value'

### Класс для курсов валют

In [21]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [22]:
r = Rate()

In [23]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [24]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [25]:
r = Rate(format_='value')

In [26]:
r.show_current_format()

'value'

Или сразу со значением по умолчанию

In [27]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [28]:
r = Rate()
r.show_current_format()

'value'

In [29]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [30]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [36]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        
    def up(self):
        self.salary += 100
    
    def print(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [37]:
ivan = Employee(name='Ivan', salary=50)

In [38]:
elena = Employee(name='Elena', salary=50)

In [39]:
ivan.name, ivan.salary

('Ivan', 50)

In [41]:
elena.name, elena.salary

('Elena', 50)

In [42]:
elena.up()

In [43]:
elena.print()

Сотрудник Elena, зарплата 150

### Полная версия класса

In [44]:
import requests

In [45]:
class Rate:
    """
    
    """
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [46]:
r = Rate(format_='full')

In [47]:
r.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 75.5379,
 'Previous': 74.5126}

In [48]:
r = Rate()

In [49]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 54.3797,
  'Previous': 53.3585},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 44.4602,
  'Previous': 43.8567},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 99.3323,
  'Previous': 97.5146},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 15.5396,
  'Previous': 15.3255},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 28.5081,
  'Previous': 28.5806},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 45.6312,
  'Previous': 45.0309},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 13.7117,
  'Previous': 13.2793},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 25.2492,
  'Previous': 24.9373},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 97.4657,
  'Previous': 96.1403},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 11.988,
  'Previous': 11.8347},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 75.5379,
  'Previous': 74.5126},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 89.2254,
  'Previous': 88.059},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 10,
  'Name': 'Индийских рупий',
  'Value': 10.1666,
  'Previous': 10.0256},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.9878,
  'Previous': 17.7779},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 57.3169,
  'Previous': 56.3465},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 96.8739,
  'Previous': 95.6516},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 10.9601,
  'Previous': 10.7808},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 45.3137,
  'Previous': 44.7846},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 84.3095,
  'Previous': 83.065},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 20.2895,
  'Previous': 20.0729},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 18.4405,
  'Previous': 18.1996},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 106.6361,
  'Previous': 105.261},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 55.2097,
  'Previous': 54.3967},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 73.2311,
  'Previous': 72.2371},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.269,
  'Previous': 10.0993},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 21.6131,
  'Previous': 21.3198},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 73.6031,
  'Previous': 72.6314},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 27.5761,
  'Previous': 27.18},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 34.046,
  'Previous': 33.7421},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 86.1823,
  'Previous': 85.0038},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 83.0087,
  'Previous': 81.855},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 44.9221,
  'Previous': 44.1462},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 63.6634,
  'Previous': 62.7839},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 71.1045,
  'Previous': 70.1064}}

Документация необходима почти всем методам

In [50]:
?r.exchange_rates

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [51]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [52]:
cc = CurrencyCodes()

In [53]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 75.5379,
 'Previous': 74.5126}

Допишем в класс что-нибудь свое новенькое

In [54]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [55]:
currency = CurrencyCodes()

In [56]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [60]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [61]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [62]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [63]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [ ]:
elena = Designer('Елена', seniority=0, awards=2)

In [ ]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

# Импорт классов и функций

In [64]:
from libs.exchange import my_sum

In [65]:
my_sum(1, 2)

3

In [66]:
from libs.exchange import Rate

In [67]:
Rate().AZN()

44.4602

In [68]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [77]:
import sys
sys.path

['C:\\Users\\Alexey_Korobzev\\Desktop\\DATAS\\GIT\\PYDA_homeworks',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\python37.zip',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\DLLs',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib',
 'C:\\Users\\Alexey_Korobzev\\anaconda3',
 '',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib\\site-packages',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\Alexey_Korobzev\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\Alexey_Korobzev\\.ipython',
 'адрес_папки_с_файлами',
 '/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs',
 'адрес_папки_с_файлами',
 '/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs',
 'адрес_папки_с_файлами']

In [ ]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [73]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs')

In [74]:
from exchange import my_sum

ModuleNotFoundError: No module named 'exchange'

In [78]:
my_sum(3, 3)

6